body {
  padding: 0px;
  margin: 0px; 
}

* {
  user-select: none;
}

#title-bar {
  left:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top:0;
  -webkit-app-region: drag;
  height: 50px; 
  width:100%;
  background-color: rgb(11, 99, 56);
  margin: 0px;  
}
 
#title {
  margin-left: 18px;
}
 
#title-bar-btns {
  margin-right: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-app-region: no-drag;
  height:80%;
}
#title-bar-btns > button {
  height:30px;
  width:30px;
  margin:3px;
  padding:0;
}

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  /* background: linear-gradient(
    200.96deg,
    #0b1844 -29.09%,
    #23769c 51.77%,
    #0f0a57 129.35%
  ); */
  background: linear-gradient(
    200.96deg,
    #064b3f -29.09%,
    #239c41 51.77%,
    #087258 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  color:white;
}

#root {
  width:85%;
}

.MuiSlider-root, .MuiSlider-root > span {
  color:white;  
}

#quality {
  color:white;
}

button {
  background-color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
}

button:hover {
  transform: scale(1.05);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

#LicenceDiv {
  display:flex;
  flex-direction: column;
  padding-bottom: 24px;
}

#LicenceDiv > a {
  cursor:pointer;
}

#LicenceDiv > p {
  margin:5px;
}